<td click="onClickCell()">
    <div class="mpr-container">
      <div>
          <p class="mpr-text-title mpr-text-align">{{title}}
            <br>
            <span class="mpr-text-align mpr-description-label">{{bodyDesc}}</span>
            <br>
            <span class="mpr-text-align mpr-description">{{description}}</span>
            <br>
            <span class="mpr-text-align mpr-before-price">{{oldPrice}}</span>
            <br>
            <span class="mpr-text-align mpr-now-price">{{price}}</span>
          </p>
      </div>
    </div>
  <img class="img" src="./sample.jpg" />
</td>