.btn1{
  transition: 0.3s;
  background-color: white;
  color: green;
  padding: 16px 32px !important;
  border-radius: 5px !important;
}
.btn1:hover {
  background-color: grey !important;
  color: lightblue !important;
}
